<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Parking · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>


<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">ParkingApp</a>

  <%= link "Search", to: Routes.parking_place_path(@conn, :index) %>
  <%= if Parking.Authentication.load_current_user(@conn) do link "My bookings", to: Routes.booking_path(@conn, :index)  end%>
  <%= if Parking.Authentication.load_current_user(@conn) do %>
            <%= link "Invoices", to: Routes.invoice_path(@conn, :index) %>
            <%= link "Profile", to: Routes.user_path(@conn, :index) %>
            <li>Hello <%= Parking.Authentication.load_current_user(@conn).name %></li>
            <li><%= link "Log out", to: Routes.session_path(@conn, :delete, Parking.Authentication.load_current_user(@conn)), method: "delete", id: "logout" %></li>
          <% else %>

          <% end %>

</nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>

  </body>
</html>
