<h1>Welcome to ParkingApp. Please register.</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<span>Or <%= link "Login instead", to: Routes.session_path(@conn, :new) %></span>
